{% extends "story_6/base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'story_6/styles/favorites.css' %}">
{% endblock %}


{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex flex-row card-header bg-primair">
                    <div class="mr-auto">
                        <h3>My Favorite Books</h3>
                    </div>
                    <div class="justify-content-end">
                        <button class="btn button-dynamic-hover bg-accent favorite-only-toggler"></button>
                        <i class="fas fa-star favorite-amount" data-amount=0> x </i>
                    </div>
                </div>
                <div class="d-flex flex-row card-header bg-primair">
                    <input class="form-control mr-sm-2" id="search-value" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn button-dynamic-hover bg-accent my-2 my-sm-0" id="search-button" type="submit">Search</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-dark table-hover table-bordered" id="book-table" data-url="{% url 'books-api' %}" data-url-get-session="{% url 'get-session-data-ajax' %}" data-url-set-session="{% url 'set-session-data-ajax' %}">
                        <thead class="bg-secondair">
                            <tr>
                                <th scope="col" class="align-middle">Title</th>
                                <th scope="col" class="align-middle">Description</th>
                                <th scope="col" class="align-middle">Author(s)</th>
                                <th scope="col" class="align-middle">Publisher</th>
                                <th scope="col" class="align-middle">Published Date</th>
                                <th scope="col" class="align-middle">Add to Favorites</th>
                            </tr>
                        </thead>
                        <tbody class="bg-primair" id="book-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_script %}
    <script src="{% static 'story_6/js/favorites.js' %}"></script>
{% endblock %}