<nav class="navbar navbar-expand-lg navbar-light bg-accent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.resolver_match.url_name == 'homepage' %}active{% endif %}">
                <a class="nav-link" href="{% url 'homepage' %}">Home</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'books' %}active{% endif %}">
                <a class="nav-link" href="{% url 'books' %}">Books</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTheme" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Themes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownTheme">
                    <button name="fasilkom-lover-selector" class="dropdown-item" onclick="localStorageSetThemeOnBack('fasilkom-lover')">Fasilkom Lover</button>
                    <button name="ui-lover-selector" class="dropdown-item" onclick="localStorageSetThemeOnBack('ui-lover')">UI Lover</button>
                </div>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'subscribers' %}active{% endif %}">
                <a class="nav-link" href="{% url 'subscribers' %}">Subscribers</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'register' %}active{% endif %}">
                <a class="nav-link" href="{% url 'register' %}">Register as Subscriber</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://ppw-e-cahyanugraha.herokuapp.com">Old App</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            {% if request.session.display_name %}
            <li class="nav-item nav-link navbar-text font-weight-bold text-primair">
                Welcome, {{ request.session.display_name }}
            </li>
            <img src="{{ request.session.image_url }}" class="img-fluid img-profile rounded-circle" alt="Responsive image">
            <li class="nav-item">
                <a class="nav-link align-middle-text" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'social_auth:begin' 'google-oauth2' %}">Login with Google</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>