{% extends "story_6/base.html" %}
{% load static %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div name="status-container" class="col-sm-8">
                <img src="{% static 'story_6/images/header.png' %}" class="img-fluid" alt="We Bare Bears Header, Courtesy of Christina Chang">
                <h1>Hello, Apa kabar?</h1>
                <h3>Latest Status</h3>
                {% if status_list %}
                    {% for status in status_list%}
                    <div class="card bg-primair">
                        <div class="card-body">
                            <h5 class="card-title">{{ status.content }}</h5>
                            <span class="fa-li" ></span><i class="fas fa-clock"></i> {{ status.created_at }}</span>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <p>Looks like Cahya haven't posted any status yet!</p>
                {% endif %}
            </div>
            <div class="col-sm-4 order-mobile-1" id="sticky-sidebar">
                <div class="sticky-top">
                    <h3>New Status</h3>
                    <form action="{% url 'homepage' %}" method="POST" class="post-form">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ status_form }}
                        </div>
                        <button name="status-form-submit-button" type="submit" class="save btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
