{% extends "story_6/base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'story_6/styles/accordion.css' %}">
{% endblock %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-primair">
                    <div class="card-header"><h3>Profile</h3></div>
                    <img class="card-img-top" src="{% static 'story_6/images/profile.jpg' %}" alt="My Formal Photo" title="My Formal Photo">
                    <div class="card-body">
                        <h4 class="card-title">Contacts</h4>
                        <ul class="fa-ul">
                            <li class="card-text">
                                <span class="fa-li"><i class="fas fa-phone" alt="Phone Number" title="Phone Number"></i></span>
                                <h5>081999749715</h5>
                            </li>
                            <li class="card-text">
                                <span class="fa-li"><i class="fas fa-envelope" alt="Email" title="Email"></i></span>
                                <h5>cahyanugraha12@gmail.com</h5>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-center">
                            <a href="https://facebook.com/cahyanugraha120499" title="Facebook">
                                <i class="fab fa-custom-4x fa-anchor fa-facebook px-2 clickable"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/cahyanugraha12" title="LinkedIn">
                                <i class="fab fa-custom-4x fa-anchor fa-linkedin px-2 clickable"></i>
                            </a>
                            <a href="https://twitter.com/cahyanugraha12" title="Twitter">
                                <i class="fab fa-custom-4x fa-anchor fa-twitter-square px-2 clickable"></i>
                            </a>
                            <a href="https://instagram.com/cahyanugraha12" title="Instagram">
                                <i class="fab fa-custom-4x fa-anchor fa-instagram px-2 clickable"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <h3>Pande Ketut Cahya Nugraha - Biodata</h3>
                <div class="card bg-primair">
                    <div class="card-header accordion-toggler clickable bg-primair-active-alternate">
                        <h4 class="accordion-toggler-text">Description</h4>
                    </div>
                    <div class="card-body accordion-panel">
                        <p class="card-text">
                            Hello! I’m a Computer Science student at Universitas Indonesia who loves coding 
                            and playing video games.
                    </div>
                </div>
                <div class="card bg-primair">
                    <div class="card-header accordion-toggler clickable bg-primair-active-alternate">
                        <h4 class="accordion-toggler-text">Activities</h4>
                    </div>
                    <div class="card-body accordion-panel">
                        <p class="card-text">
                            Outside of usual academic mumbo-jumbo, I'm currently working on my horrendous guitar skill,
                            preparing numerous things related to my nomination as VPIC of CPC Compfest 11, hoping for miracle 
                            to happen on 11 November 2018 (ACM-ICPC Jakarta Day 2), (UPDATE) which didn't happen (UPDATE), blijf mijn Nederlands les uitstellen, lamenting 
                            on my horrible WiFi that keep getting me killed on Battlefield 1, wasting valuable time, and not writing 
                            numerous thoughts that keep swirling on my head.
                    </div>
                </div>
                <div class="card bg-primair">
                    <div class="card-header accordion-toggler clickable bg-primair-active-alternate">
                        <h4 class="accordion-toggler-text">Education</h4>
                    </div>
                    <div class="card-body accordion-panel">
                        <ul class="card-text">
                            <li>
                                <h5>Faculty of Computer Science, Universitas Indonesia</h5>
                                <h6>Depok, Jawa Barat, Indonesia</h6>
                                <h6>2017 – 2021 (Expected)</h6>
                            </li>
                            <li>
                                <h5>High School Degree, Natural Science, SMAN 3 Denpasar</h5>
                                <h6>Denpasar, Bali, Indonesia</h6>
                                <h6>2017 – 2021 (Expected)</h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primair">
                    <div class="card-header accordion-toggler clickable bg-primair-active-alternate">
                        <h4 class="accordion-toggler-text">Work Experiences</h4>
                    </div>
                    <div class="card-body accordion-panel">
                        <ul class="card-text">
                            <li>
                                <h5>Software Development Engineer Intern</h5>
                                <h6>Bizzy Indonesia</h6>
                                <h6>Jun 2018 - Aug 2018</h6>
                                <p>Developing internal tool to deploy and manage AWS Resources using Bash Script and Terraform</p>
                            </li>
                            <li>
                                <h5>Software Engineer Intern</h5>
                                <h6>GDP Labs, Bali</h6>
                                <h6>Jan 2018</h6>
                                <p>Developing Game Chatbot for Kaskus Chat to engage more users with 2 other interns.
                                   Responsible for designing database, creating services for registration and administrator functionalities.
                                   Technologies used : Java, Spring Web, Spring JPA, MySQL, Flyway
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primair">
                    <div class="card-header accordion-toggler clickable bg-primair-active-alternate">
                        <h4 class="accordion-toggler-text">Organization and Volunteer Experiences</h4>
                    </div>
                    <div class="card-body accordion-panel">
                        <ul class="card-text">
                            <li>
                                <h5>Junior Member of Web Development SIG</h5>
                                <h6>RISTEK Fakultas Ilmu Komputer Universitas Indonesia</h6>
                                <h6>Mar 2018 – Present</h6>
                            </li>
                            <li>
                                <h5>Staff of CPC Technical Division</h5>
                                <h6>Compfest X</h6>
                                <h6>Feb 2018 – Sep 2018</h6>
                            </li>
                            <li>
                                <h5>Staff of Secretariat</h5>
                                <h6>KMHD UI</h6>
                                <h6>Feb 2018 – Present </h6>
                            </li>
                            <li>
                                <h5>Staff of Student Welfare Advocacy Department</h5>
                                <h6>BEM Fakultas Ilmu Komputer Universitas Indonesia</h6>
                                <h6>Feb 2018 – Present</h6> 
                            </li>
                            <li>
                                <h5>Staff of Equipment Division (Staf Perlengkapan)</h5>
                                <h6>12th Hindu for Generation</h6>
                                <h6>Oct 2017 – Nov 2017</h6>
                            </li>
                            <li>
                                <h5>Vice PIC of Equipment Division (WaPJ Perlengkapan)</h5>
                                <h6>TOS UI Bali 2018</h6>
                                <h6>Dec 2017 – Jan 2018</h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primair">
                    <div class="card-header accordion-toggler clickable bg-primair-active-alternate">
                        <h4 class="accordion-toggler-text">Accomplishments</h4>
                    </div>
                    <div class="card-body accordion-panel">
                        <ul class="card-text">
                            <li>
                                <h5>Finalist in The 2018 ICPC Asia Jakarta Regional Contest</h5>
                                <h6>ICPC Foundation</h6>
                                <h6>Nov 2018</h6>
                                <p>Team : FurCon.id (Steven Kusuman, Raihan Ramadistra Pratama, Pande Ketut Cahya Nugraha)</p>
                            </li>
                            <li>
                                <h5>3rd Place in BNCC Hackathon</h5>
                                <h6>Bina Nusantara Computer Club</h6>
                                <h6>May 2018</h6>
                                <p>Team: CRUD (Ivana Irene Thomas, Justin Sung, Pande Ketut Cahya Nugraha)</p>
                            </li>
                            <li>
                                <h5>Finalist in The 2017 ACM-ICPC Asia Jakarta Regional Contest</h5>
                                <h6>ACM-ICPC</h6>
                                <h6>Nov 2017</h6>
                                <p>Team : AsalDapetMakan (Muhamad Achir Suci Ramadan, Raihansyah Attallah Andrian, Pande Ketut Cahya Nugraha)</p>
                            </li>
                            <li>
                                <h5>Top 16 TOKI 2017</h5>
                                <h6>Tim Olimpiade Komputer Indonesia</h6>
                                <h6>Oct 2016</h6>
                            </li>
                            <li>
                                <h5>Silver Medal in Indonesia National Informatics Olympiad</h5>
                                <h6>Indonesian Ministry of Education</h6>
                                <h6>May 2016</h6>
                            </li>
                            <li>
                                <h5>First Place in Informatics Olympiad Bali Logic and Computer Competition</h5>
                                <h6>Faculty of Mathematics and Natural Science, University of Udayana</h6>
                                <h6>Mar 2016</h6>
                            </li>
                            <li>
                                <h5>Second Place in Programming Category Information Technology Creative Competition</h5>
                                <h6>Faculty of Engineering, University of Udayana</h6>
                                <h6>Nov 2015</h6>
                            </li>
                            <li>
                                <h5>Bronze Medal in Indonesia National Informatics Olympiad</h5>
                                <h6>Indonesian Ministry of Education</h6>
                                <h6>May 2015</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_script %}
    <script src="{% static 'story_6/js/accordion.js' %}"></script>
{% endblock %}