{% extends "story_6/base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'story_6/styles/register.css' %}">
{% endblock %}


{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-header">Registration Subscriber</h1>
                <form id="registration-form" data-url="{% url 'register' %}">
                    <div class="form-group">
                        <label for="registration-name">Name</label>
                        <input type="text" class="form-control" id="registration-name" placeholder="Enter your name here">
                        <div class="invalid-feedback" id="invalid-feedback-name">
                            <strong data-message=""></strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registration-email">Email</label>
                        <input type="email" class="form-control" id="registration-email" placeholder="Enter your email here" data-url="{% url 'check-email' %}">
                        <div class="valid-feedback" id="valid-feedback-email">
                            <strong data-message=""></strong>
                        </div>
                        <div class="invalid-feedback" id="invalid-feedback-email">
                            <strong data-message=""></strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registration-password">Password</label>
                        <input type="password" class="form-control" id="registration-password" placeholder="Enter your password here">
                        <div class="invalid-feedback" id="invalid-feedback-password">
                            <strong data-message=""></strong>
                        </div>
                    </div>
                    <button type="button" class="btn bg-accent disabled" id="button-submit" disabled>Register</button>
                </form>
            </div>
            <div class="modal fade" id="registration-success" role="dialog" aria-labelledby="registration-success-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-accent">
                            <h5 class="modal-title" id="registration-success-title">Registration Success</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body bg-dominant">
                            <p>Congratulation, you have been successfully registered as a Subscriber</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="registration-failed" role="dialog" aria-labelledby="registration-failed-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-accent">
                            <h5 class="modal-title" id="registration-failed-title">Registration Failed</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body bg-dominant">
                            <p>Sorry, registration failed. Please try again.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_script %}
    <script src="{% static 'story_6/js/register.js' %}"></script>
{% endblock %}