{% extends "story_6/base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'story_6/styles/subscribers.css' %}">
{% endblock %}


{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-sm-12">
                <h1>Subscriber List</h1>
                <div id="subscriber-list-container" data-url="{% url 'subscribers-api' %}">
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-delete-subscriber" data-cur-subs-id="" role="dialog" aria-labelledby="modal-delete-subscriber-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-accent">
                        <h5 class="modal-title" id="modal-delete-subscriber-title">Unsubscribe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-dominant">
                        <p>Please enter your password to confirm</p>
                        <input type="password" class="form-control" id="modal-password-delete-subscriber" placeholder="Enter your password here">
                        <div class="invalid-feedback" id="modal-password-delete-subscriber-invalid-feedback">
                            <strong>Wrong password. Please enter the correct password to unsubscribe.</strong>
                        </div>
                    </div>
                    <div class="modal-footer bg-accent">
                        <button type="button" class="btn bg-dominant" id="modal-button-delete-subscriber">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_script %}
    <script src="{% static 'story_6/js/subscribers.js' %}"></script>
{% endblock %}