.accordion-toggler-text::after {
    content: "\f107";
    color: white;
    float: right;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.accordion-toggler.active  > .accordion-toggler-text::after {
    content: "\f106";
}

.accordion-panel {
    display: none;
}