.favorite-amount::after {
    content: attr(data-amount);
}

.favorite-only-toggler::after {
    content: "Show Favorite Only";
}

.favorite-only-toggler.active::after {
    content: "Show All";
}

.fa-star {
    color: yellow;
}