body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.theme-fasilkom-lover .bg-dominant {
    background-color: #375a7f;
    color: white;
}

.theme-fasilkom-lover .bg-accent {
    background-color: #cf2a2a;
    color: white;
}

/* It's not typo, it's nederlands */
.theme-fasilkom-lover .bg-primair {
    background-color: #335c67;
    color: white;
}

.theme-fasilkom-lover .text-primair {
    color: white !important;
}

.theme-fasilkom-lover .active.bg-primair-active-alternate, 
.theme-fasilkom-lover .bg-primair-active-alternate:hover {
    background-color: #23b3d7;
    color: white;
}

.theme-fasilkom-lover .bg-secondair {
    background-color: #22223b;
    color: white;
}

.theme-ui-lover .bg-dominant {
    background-color: #E0E0CE;
    color: black;
}

.theme-ui-lover .bg-accent {
    background-color: #ffcc00;
    color: black;
}

/* It's not typo, it's nederlands */
.theme-ui-lover .bg-primair {
    background-color: #474747;
    color: white;
}

.theme-ui-lover .text-primair {
    color: black !important;
}

.theme-ui-lover .active.bg-primair-active-alternate, 
.theme-ui-lover .bg-primair-active-alternate:hover {
    background-color: #645959;
    color: white;
}

.theme-ui-lover .bg-secondair {
    background-color: #c2e7da;
    color: black;
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.content {
    flex: 1;
}

.fa-custom-4x {
    font-size: 12vw;
}

@media (min-width: 576px) {
    .fa-custom-4x {
        font-size: 3vw;
    }
}
  
@media (min-width: 768px) {
    .fa-custom-4x {
        font-size: 4vw;
    }
}

.fa-anchor {
    color: white;
}

.clickable {
    cursor: pointer;
}

.footer > .container {
    margin-top: 0px;
    margin-bottom: 0px;
}

.button-dynamic-hover {
    opacity: 1.0;
}

.button-dynamic-hover:hover {
    opacity: 0.5;
}

.img-profile {
    height: 40px;
    width: 40px;
}

.align-middle-text {
    margin-top: auto;
    margin-bottom: auto;
}