.valid-feedback, .invalid-feedback {
    font-size: 1rem;
}

.valid-feedback > *::after, .invalid-feedback > *::after {
    content: attr(data-message);
}

.form-control.valid {
    border: 3px solid #ced4da;
    border-color: green;
}

.form-control.invalid {
    border: 3px solid #ced4da;
    border-color: red;
}

.modal-content {
    border: none;
}